<ion-content [fullscreen]="true">
  <ion-toolbar mode="ios">
    <ion-icon name="grid"></ion-icon>
    <ion-title>
      Weather Forcast
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Search You City" mode="ios" (ionChange)="gettingValue($event)"></ion-searchbar>
  <app-temperature-component todaySignC="{{todaySign}}" gettingDateC="{{gettingDate}}" temperatureC="{{temperature}}" weatherImageC="{{weatherImage}}" cityNameC="{{cityName}}" countryNameC="{{countryName}}"></app-temperature-component>
  <ion-row class="humidity-pressure-row">
    <ion-col size="6">
      <app-weather-data percentageNumber="{{humidity}}%" addedText="Humidity" imagePath="assets/images/humidity.png"></app-weather-data>
    </ion-col>
    <ion-col size="6">
      <app-weather-data percentageNumber="{{pressure}}HPA" addedText="Pressure" imagePath="assets/images/pressure.png"></app-weather-data>
    </ion-col>
  </ion-row>
  <ion-row class="three-days-temperature">
    <ion-col size="4">
      <app-days temperatureSign="{{todaySign}}" temperature="{{temperature}}" temperatureUnit="C" day="{{tomorrowDay}}"></app-days>
    </ion-col>
    <ion-col size="4">
      <app-days temperatureSign="{{secondTomorrowSign}}" temperature="{{secondTomorrow}}" temperatureUnit="C" day="{{secondTomorrowDay}}"></app-days>
    </ion-col>
    <ion-col size="4">
      <app-days temperatureSign="{{thirdTomorrowSign}}" temperature="{{thirdTomorrrow}}" temperatureUnit="C" day="{{thirdTomorrowDay}}"></app-days>
    </ion-col>
  </ion-row>
</ion-content>
